<App loading={{loading}}>
  <h1>About</h1>
  <p>
    Hi, I'm Hongyu Yang (aka. Cyandev), I'm a student of software engineering from China.
    I develop native mobile apps and web apps, and am also interested in other aspects of
    programming. As a developer, I always love building stuffs with user-friendly experience
    and have a feeling of joy to be active in open-source contribution.
  </p>
  <h2>Links</h2>
  <ul>
    <li><a href="/posts">/posts</a>: What I wrote</li>
    <li><a href="/activity">/activity</a>: What I'm doing</li>
    <li><a href="/resume">/resume</a>: Learn more about me</li>
  </ul>
  <h2>Contacts</h2>
  <ul>
    <li>GitHub: <a href="https://github.com/unixzii">unixzii</a></li>
    <li>Weibo: <a href="http://weibo.com/2834711045/profile">@Cyandev</a></li>
    <li>Zhihu: <a href="https://www.zhihu.com/people/cyandev/activities">Cyandev</a></li>
    <li>E-mail: <a href="mailto:unixzii@gmail.com">unixzii@gmail.com</a></li>
  </ul>
  <p>If you really want to instantly chat with me, try finding me on WeChat: <code>linux64</code>.</p>
</App>

<script>
  import App from './App.html';

  export default {
    components: { App }
  };
</script>